
#table {
  width: 1000px;
  height: 500px;
  background-color: green;
  padding: 30px;
  border: 20px solid black;
  border-radius: 3%;
}

#messages {
  height: 20px;
}

#dealer-hand {
  height: 95px;
  background-color: lightgreen;

}

#player-hand {
  height: 95px;
  background-color: lightgreen;
}

.buttons {
  text-align: center;
}

img {
  border: 2px solid red;
  height: 60px;
  display: inline-block;
  height: 90px;
  width: 60px;
}

label {
  font-weight: bold;
}
